.dropzone {
  outline: 1px dashed var(--stroke-default);
  border: 2px dashed transparent;
  border-radius: .25rem;

  display: grid;
  justify-items: center;
  gap: .5rem;
  text-align: center;
  padding: 1.75rem 1rem;

  position: relative;

  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0;
  }

  & p {
    color: #A8A29E;
  }

  &:hover, &:has(input:focus) {
    outline-width: 0;
    border-color: var(--stroke-hightlight);
    background-color: var(--surface-secondary);
    
    & p {
      color: var(--color-tertiary);
    }

    /* troca a cor do svg direto no html */
    & svg path {
      stroke: var(--stroke-hightlight);
    }    
  }
}